@import "../../styles/default.scss";

.rowPerPage {
  @extend %flexRow;
  align-items: center;
  justify-content: flex-end;
  font-size: $pagerPage-size;
}

.rowPerPage > select {
  font-size: $pagerPage-size;
  padding: 4px 20px 4px 4px;
}

.rowPerPage > label {
  vertical-align: top;
  margin-right: 20px;
  margin-left: 10px;
}